.item{
    border: 1px solid #f26123;
    border-radius: 15px;
    padding: 16px;
    width: calc(33.33333% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 56px;
}


.item-header{
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.item-text{
    font-size: 1em;
    color: #a0a0a0;
}

.item-price{
    font-size: 1.3em;
    color:#a0a0a0;
}